body {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background: skyblue;
    color:white;
    height: 100px;
    width: 100px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.circle {
    background: pink;
    border-radius: 50%;
    transition: all 0.5s;
    transform: rotate(360deg);
}